/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(180deg, #007986, #00BCB9);
    background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
margin: 0;
padding: 0;

}



