<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Quantum IT Innovation</p>
        </div>
        <div class="col-md-6 text-right">
          <p>
            Connect with us:
            <!-- Facebook Icon -->
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <!-- Twitter Icon -->
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <!-- Google Icon -->
            <a href="#" class="social-icon"><i class="fab fa-google"></i></a>
            <!-- Instagram Icon -->
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <!-- Linkedin Icon -->
            <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            <!-- Github Icon -->
            <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
          </p>
          <p>Contact us: contact@example.com</p>
        </div>
      </div>
    </div>
  </footer>
  
  